body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: aliceblue;
  font-family: "Akaya Kanadaka", serif; /* Apply Akaya Kanadaka font globally */
  font-size: larger;
  text-align: center;
}

.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", serif; /* Specific class for Akaya Kanadaka */
}

.container {
  text-align: center;
}

.box {
  padding: 5px;
  border: 10px;
}

.top {
  position: relative;
  height: 550px;
}

.top .bg-image {
  background-size: contain; /* Ensures the entire image is visible without cropping */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  height: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.stamped {
  width: 25%; /* Ensures the image takes up 100% of its container's width */
  height: auto; /* Keeps the aspect ratio intact */
  display: block; /* Removes any extra space below the image */
  object-fit: contain; /* Ensures the entire image fits within the container */
  margin-left: auto; /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */
}

.book {
  width: 25%;
  height: auto;
  object-fit: contain;
  margin-left: auto; /* Centers the image horizontally */
  margin-right: auto; /* Centers the image horizontally */
}
